<ul class="no-bullet">
	<li>This is a list item in an unbulleted list</li>
	<li>Any list can be unbulleted with the application of the <code>.no-bullet</code> helper class </li>
	<li>
		Lists can be nested inside of each other 
		<ul>
			<li>This is a nested list item</li>
			<li>Nested lists do not inherit the <code>.no-bullet</code> class</li>
			<li>This is another nested list item in an unordered list</li>
		</ul>
	</li>
	<li>This is the last list item</li>
</ul>
