a {
	color: $anchor-color;
}
blockquote {
	margin: rem-calc(45 0);
	font-size: rem-calc(34);
	font-weight: 300;
	line-height: 1.2;
	&:before {
		content: "“";
	}
	&:after {
		content: "”";
	}
	
	@include breakpoint(small down) {
		margin: rem-calc(24) 0;
		font-size: rem-calc(22);
	}
}

.row {
	&--full-height {
		height: 100%;

		&-nested {
			height: 100%;
			.row {
				height: 100%;
			}
		}
	}
}

