@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Plopilor<br />
    Cluj, CJ Romania<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Support:</strong> <a href="mailto:themrbooker@gmail.com">themrbooker@gmail.com</a><br />
</address>
