@using MRBooker.Data.ReservationViewModels

@model ReservationViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div id="main_scheduler" class="dhx_cal_container" style="width:100%; height:100%; padding:100%;">
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
            </div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        scheduler.config.xml_date = "%d/%m/%Y %h:%i:%s";
        scheduler.config.readonly = false;
        scheduler.init('main_scheduler', new Date(), "month");

        scheduler.load("api/reservationApi", "json");

        scheduler.attachEvent("onEventSave",
            function (id, ev, is_new) {
                $.ajax({
                    url: "api/reservationApi",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(ev),
                    success: function () {
                        console.log('success !' + ev);
                        return true;
                    },
                    error: function () {
                        console.log('error !' + ev);
                        return false;
                    }
                });
            });

    </script>

}
@*<environment include="Development">
        <script src="~/js/scheduler.js.js" asp-append-version="true"></script>
    </environment>*@

@*<style type="text/css" media="screen">
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            overflow: hidden;
        }
    </style>*@
