<ul class="sg-colors">
	<li>
		<span class="sg-swatch sg-color-1"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-color-2"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-color-3"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-color-4"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-color-5"></span>
		<span class="sg-label"></span>
	</li>
</ul>