<div>Primary font: "Work Sans", "Arial", sans-serif;</div>
<div><em>Primary font italic: "Work Sans", "Arial", sans-serif;</em></div>
<div><strong>Primary font bold: "Work Sans", "Arial", sans-serif;</strong></div>
{{! <div class="sg-font-secondary">Secondary font: Georgia, Times, "Times New Roman", serif;</div>
<div class="sg-font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></div>
<div class="sg-font-secondary"><strong>Secondary font bold; Georgia, Times, "Times New Roman", serif;</strong></div> }}