<p>This Pattern Library includes <a href="http://foundation.zurb.com/sites/docs/" target="_blank">Foundation Zurb</a> (<a href="https://github.com/zurb/foundation-sites/releases/tag/v6.2.3" target="_blank">6.2.3</a>), and utilizes many of their components.  Check their site for full documentation.</p>